body {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: black;
    color: #fff;
    height: 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.grid-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    row-gap: 5px;
    background-color: white;

}

#name2 {
    grid-row: 2;
    grid-column: 1/ 4;
}

.email2 {
    grid-row: 3/ 4;
    grid-column: 1/ 4;
}

#email2 {
    grid-row: 4/ 5;
    grid-column: 1/ 4;
}

.comments2 {
    grid-row: 5/ 6;
    grid-column: 1/ 4;
}

#comments2 {
    grid-row: 6/ 7;
    grid-column: 1/ 4;
}

#submit2 {
    grid-row: 7/ 8;
    grid-column: 1/ 4;
}

@media screen and (max-width: 1440px) {
    .flex-container {
        height: auto;
        width: auto;
    }

}


@media screen and (max-width: 768px) {
    .flex-container {
        height: auto;
        width: auto;
    }

}